<div class="contrata">
    <div class="wing-contenido">
        <div class="container">
            <div class="box-contenido">
                <div id="scroll" class="intro-box">
                    <h1>Buscar proveedores</h1>
                    <p>Selecciona un proyecto o selecciona a tu proveedor</p>
                </div>


                <div class="box-usuarios">
                    <div class="datos">
                        <div class="info">
                            <h1>Juan Garcia</h1>
                            <p>Miembro desde: 10/10/2020</p>
                            <p class="ciudad">Cd obregon, Sonora</p>
                            <div class="box-habilidades">
                                <h4>Habilidades</h4>
                                <div class="habilidades">
                                    <div class="tag">PHP</div>
                                    <div class="tag">MYSQL</div>
                                </div>
                            </div>
                        </div>
                        <div class="usuario-gradient">
                            <div class="clase">J</div>
                            <div class="calificacion">Calificacion:<br>10</div>
                            <div class="estrellas estrella-5"></div>
                            <div class="estrellas estrella-4"></div>
                            <div class="estrellas estrellas-3"></div>
                            <div class="estrellas estrellas-2"></div>
                            <div class="estrellas estrellas-1"></div>


                            <div class="estrellas"></div>
                            <div class="usuario" style="background-image:url('/assets/images/usuario-rojo.svg');background-size: 170px !important;background-position:bottom -20px center !important"></div>
                        </div>
                    </div>
                    <div class="propuesta">
                        <p><span>Resumen Profesional:</span><br> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book.</p>
                        <div class="botones-contratar">
                            <button class="btn btn-perfil">Ver perfil</button>
                            <button class="btn btn-invitar">Invitar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>