<div class="dashboard">
    <div class="wing-contenido">
        <div class="container">
            <div class="box-contenido">
                <div class="intro-box">
                    <h1>Mis proyectos</h1>
                    <div class="filtro">
                        <img src="/assets/images/iconos/filtro-icono.svg" />
                        <div class="buscador">
                            <div class="estado">
                                <span>Filtrar por estado</span>
                                <select name="filtroEstado">
                                  <option value="">Ver todos</option>
                                  <option value="sin_asignar">Sin asignar</option>
                                  <option value="en_proceso">En proceso</option>
                                  <option value="por_aprobar">Por aprobar</option>
                                  <option value="por_pagar">En proceso de pago</option>
                                  <option value="por_calificar">Por calificar</option>
                                  <option value="finalizado">Finalizado</option>
                                </select>
                            </div>
                            <div class="orden">
                                <span>Ordenar por</span>
                                <select>
                                  <option value="fecha_publicacion">Fecha</option>
                                  <option value="estado">Estado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="proyecto-fondo">
                    <div class="proyecto">
                        <div class="info-proyecto">
                            <div class="datos">
                                <h1>Prueba</h1><span>/</span>
                                <p>12/01/2020</p>
                                <div class="estado">IR AL PROYECTO</div>

                            </div>
                            <div class="botones">
                                <button title="Editar proyecto" title="Editar proyecto"><img src="/assets/images/iconos/editar.svg"></button>
                                <button title="Ver propuestas" title="Ver listado de propuestas"><img src="/assets/images/iconos/info-proyecto.svg"></button>
                                <button title="Ir al chat"><img class="chat" src="/assets/images/iconos/chat.svg"></button>
                                <button title="Eliminar proyecto" title="Eliminar"><img src="/assets/images/iconos/delete.svg"></button>
                                <button title="Iniciar incidencia"><img src="/assets/images/iconos/alerta.svg"></button>
                            </div>
                        </div>
                        <div class="txt-descripcion">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                        <div class="progreso-barra">
                            <div class="timeline selected">
                                <div class="selected-punto"></div>
                                <div class="divisor"></div>
                                <span class="estado-timeline span-selected">Terminado</span>
                                <span class="span-selected">Proyecto publicado</span>
                            </div>
                            <div class="timeline selected">
                                <div class="punto"></div>
                                <div class="divisor"></div>
                                <span>No has seleccionado un proveedor</span>
                            </div>
                            <div class="timeline">
                                <div class="punto"></div>
                                <div class="divisor"></div>

                            </div>
                            <div class="timeline">
                                <div class="punto"></div>
                                <div class="divisor"></div>
                                <span>Aprueba el pago</span>
                            </div>
                            <div class="timeline">
                                <div class="punto"></div>
                                <span>Evaluación del proveedor</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>